<html>
<body>
Bonjour,<br>
<br>
Une session a &eacute;t&eacute; cr&eacute;&eacute;e pour vous donnez acc&egrave;s au r&eacute;seau Wifi <i>Eduspot</i> de l'URCA.<br>
<br>
Elle sera utilisable du <b>##BEGIN##</b> au <b>##END##</b>.<br>
<br>
Vous pourrez vous connecter en utilisant les informations qui vous ont
&eacute;t&eacute; communiqu&eacute; dans un mail pr&eacute;c&eacute;dent.<br>
<br>
Si vous avez oubli&eacute; ou <b>perdu votre mot de passe</b>, vous pourrez <b>en
obtenir un nouveau</b>:
<li>en envoyant un mail &agrave; <b>##MAIL_FROM_PASSWD##</b> (indiquez "J'ai perdu mon mot de passe" dans le sujet),</li>
<li><b>ou</b> en cliquant sur <a href="mailto:##MAIL_FROM_PASSWD##?SUBJECT=J'ai perdu mon mot de passe">ce lien</a>.</li>
<br>
L'utilisation du r&eacute;seau Wifi de l'universit&eacute; est soumis &agrave;
une charte de bon usage que vous pouvez t&eacute;l&eacute;charger &agrave;
 <a href="https://wurca.univ-reims.fr/Charte.pdf">l'adresse suivante</a>.<br>
Ce compte pourra &ecirc;tre coup&eacute; en cas de non-respect de cette charte.<br>
<br>
<i>Ce message est g&eacute;n&eacute;r&eacute; automatiquement, merci de ne pas y r&eacute;pondre.</i><br>
<br>
--<br>
<br>
Centre de Ressources Informatiques<br>
Universite de Reims Champagne Ardenne<br>
<br>
Campus du Moulin de la Housse<br>
BP 1039 - 51687 Reims cedex 2<br>
<br>
Tel: 03.26.91.31.86<br>
Fax: 03.26.91.31.87<br>
</body>
</html>
